:root {
  --color-primary: #020403;
  --color-secondary: #053625;
  --color-tertiary: #747474;

  --color-primary-forground: #ebebeb;

  --rounded-md: 8px;
  --padding-md: 5px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color-primary);
}

.Section__label {
  display: flex;
  align-items: center;
  margin-block: 1.5rem;
}

.Section__divider {
  height: 2px;
  background-color: var(--color-tertiary);
  width: 100%;
  max-width: 80px;
}

.Section__label-text {
  flex: 1;
  color: var(--color-primary-forground);
  margin-left: 8px;
  font-size: 1.25em;
}

.Section__title {
  font-size: 3em;
  color: var(--color-primary-forground);
  font-weight: 400;
  margin-block: 1.5rem;
  text-transform: uppercase;
  text-wrap: balance;
  max-width: 80%;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    var(--color-primary) 20%,
    transparent 100%
  );
  z-index: 1;
}

.Blur__circle-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 700px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  filter: blur(70px);
  z-index: -1;
  opacity: 0.95;
}

.Blur__circle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
  opacity: 0.5;
}

.Home__hader {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: transparent;
  backdrop-filter: blur(0px);

  /* Animación controlada por scroll */
  animation: NavbarOpaco both linear;
  animation-timeline: scroll(root block);
  animation-range: 0% 20%;
}

@keyframes NavbarOpaco {
  from {
    background: transparent;
    backdrop-filter: blur(10px);
  }
  to {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
  }
}

.Home__nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 20px;
}

.Home__menu {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.Home__button-contact {
  background-color: var(--color-primary-forground);
  border-radius: var(--rounded-md);
  border: 1px solid transparent;
  padding: 5px 10px;
  font-weight: 900;
  transition: all 300ms ease;
  cursor: pointer;
}

.Home__button-contact:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary-forground);
}

.Home__logo {
  color: var(--color-primary-forground);
  font-size: 1.25em;
}

.Home__menu-link {
  color: var(--color-primary-forground);
  text-decoration: none;
  font-size: 0.8em;
}

.Home__menu-link:hover {
  text-decoration: underline;
}

.Home__inicio {
  background: radial-gradient(
    circle at center,
    var(--color-secondary) 10%,
    var(--color-primary) 50%
  );
  min-height: 40dvh;
  padding-top: 4rem;
  display: flex;
  position: relative;
  z-index: 2;
}

.Home__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Home__presentation {
  max-width: 33%;
  z-index: 2;
}

.Home__claim {
  font-size: 5em;
  color: var(--color-primary-forground);
}

.Home__claim-name {
  font-size: 5em;
  color: var(--color-primary-forground);
  font-weight: 900;
}

.Home__profesion {
  display: flex;
  align-items: center;
  margin-block: 1.5rem;
}

.linea {
  height: 2px;
  background-color: var(--color-tertiary);
  width: 100%;
  max-width: 80px;
}

.Home__profesion-name {
  flex: 1;
  color: var(--color-primary-forground);
  margin-left: 8px;
  font-size: 1.25em;
}

.Home__subtitle {
  text-wrap: balance;
  width: 100%;
  max-width: 80%;
  line-clamp: 2;
  color: var(--color-primary-forground);
  margin-block: 1.25rem;
  font-size: 1.25em;
}

.Home__buttons {
  display: flex;
  gap: 10px;
}

.Home__button-contact {
  background-color: var(--color-primary-forground);
  border-radius: var(--rounded-md);
  border: 1px solid transparent;
  padding: 12px 24px;
  font-size: 1.15em;
  font-weight: 900;
  transition: all 300ms ease;
  cursor: pointer;
}

.Home__button-cv {
  background-color: transparent;
  border: 1px solid var(--color-primary-forground);
  color: var(--color-primary-forground);
  border-radius: var(--rounded-md);
  padding: 12px 24px;
  font-size: 1.15em;
  transition: all 300ms ease;
  cursor: pointer;
}
.Home__button-cv:hover {
  background-color: var(--color-primary-forground);
  color: var(--color-primary);
}

.Home__estadisticas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}
.Home__estadistica {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-block: 2.5rem;
  border-bottom: 1px solid var(--color-tertiary);
}

.Home__estadistica:first-child {
  padding-top: 0;
}

.Home__estadistica:last-child {
  border-bottom: none;
}

.Home__estadistica-numero {
  font-size: 3em;
  font-weight: 700;
  color: var(--color-primary-forground);
}
.Home__estadistica-descripcion {
  font-size: 1em;
  color: var(--color-primary-forground);
  font-weight: 400;
  text-align: right;
}

.Home__title {
  font-size: 3em;
  color: var(--color-primary-forground);
  font-weight: 400;
  margin-block: 1.5rem;
  text-transform: uppercase;
}

.Home__image {
  position: relative;
}

.Tecnologias {
  background-color: var(--color-primary);
}

.Tecnologias__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.Tecnologias__items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-block: 5rem;
}

.Tecnologias__item-tecnologia p {
  opacity: 0;
  transition: opacity 300ms ease;
}

.Tecnologias__item-tecnologia:hover p {
  opacity: 1;
  color: var(--color-primary-forground);
}

.Tecnologias__item-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Contacto {
  background-color: radial-gradient(
    circle at center,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  min-height: 100dvh;
}

.Contacto__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.Contacto__form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
  width: 100%;
}

.Contacto__form-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.Contacto__form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.Contacto__form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Contacto__form-fields input {
  width: 100%;
  padding: 10px;
  border-radius: var(--rounded-md);
  border: 1px solid var(--color-tertiary);
  background-color: transparent;
  color: var(--color-primary-forground);
}

.Contacto__form label {
  color: var(--color-primary-forground);
  font-size: 1em;
  font-weight: 400;
}

.Contacto__form input:focus {
  outline: none;
  border: 1px solid var(--color-primary-forground);
}

.Contacto__form textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary-forground);
}

.Contacto__form input {
  width: 100%;
  padding: 10px;
  border-radius: var(--rounded-md);
  border: 1px solid var(--color-tertiary);
  background-color: transparent;
  color: var(--color-primary-forground);
}

.Contacto__form textarea {
  width: 100%;
  padding: 10px;
  border-radius: var(--rounded-md);
  border: 1px solid var(--color-tertiary);
  background-color: transparent;
  color: var(--color-primary-forground);
}
